<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <aggregation>
            <routines>
                <ExecRoutineStatementBuilder type="Sitecore.Analytics.Aggregation.Scripting.Builders.ExecRoutineStatementBuilder, Sitecore.Analytics.Sql" singleInstance="true">
                    <mappings hint="list:AddMapping">
                        <SqlMappingEntity uid="Fact_RulesExposure" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
                            <Table>Fact_RulesExposure</Table>
                            <Routine>Add_RulesExposure_Tvp</Routine>
                            <IsMultiRow>True</IsMultiRow>
                            <TableType>RulesExposure_Type</TableType>
                        </SqlMappingEntity>
                        <SqlMappingEntity uid="Fact_Personalization" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
                            <Table>Fact_Personalization</Table>
                            <Routine>Add_Personalization_Tvp</Routine>
                            <IsMultiRow>True</IsMultiRow>
                            <TableType>Personalization_Type</TableType>
                        </SqlMappingEntity>
                    </mappings>
                </ExecRoutineStatementBuilder>
            </routines>
        </aggregation>
    </sitecore>
</configuration>